h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    /* tamaño de letra  */
    /* El tamaño por defecto en las paginas es de 16px*/
    font-size: 20px;
    font-family: Tahoma, sans-serif;
}
h4{
    /* proporciona de negrita el texto  */
    /* Valores de 100 a 800 o normal bold  */
    font-weight: 100;
}

small{
    /* estilo de fuente */
    /* normal | oblique | italic */
    font-style: italic;
}

.texto-footer{
    /* Propiedad de texto estilo SHORTHAND  */
    /* font-style, font-weight, font-size,font-family  */
    font: italic 100 10px Arial;
}